@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
main{
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.iphone{
    margin: auto;
}